<h1 class="text-center">Articles</h1>

<div class="digg_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>

<%= render 'article' %>

<p><%= button_to 'Create New Article', new_article_path(@articles), method: :get %> </p>

<%= link_to "Home", root_path %>

<%= link_to "Bloggers", users_path %>

<div class="digg_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>