<h1 class="text-center"><%= @article.title %></h1>
<div class="card text-center">
  <div class="card-header font-italic">
    by Rolo
  </div>
  <div class="card-body">
    <p class="card-text"><%= @article.description %></p>
    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info" %>
    <%= link_to "Delete", article_path(@article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
</div>

<%= link_to "Home", root_path %> |
<%= link_to "Return to all articles",  articles_path%>